<!DOCTYPE html>
<html>

<title>About</title>

<p style="text-align:center"><span style="font-size:48px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>// About //</strong></span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:22px"><u><strong>DAB111 - Final Project Group 10</strong></u></span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:20px"><em><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Members:</strong></span></em></span></p>

<p style="text-align:center"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px"><strong>Kavindi Mannakkara (816515)<br />
Nimashi Chamodika Subhasingha (850310)<br />
Suranjan De Silva (849204)</strong></span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><strong><em>Special Thanks to Prof. Mark Cassar for all the valuable knowledge shared during the semester.</em></strong></p>

</html>