<p style="text-align:center"><span style="font-size:48px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>// Main //</strong></span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:22px"><u><strong>Select Page:</strong></u></span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><a href="{{url_for('about')}}"><span style="font-size:20px"><em><span style="font-family:Tahoma,Geneva,sans-serif"><strong>About</strong></span></em></span></a><br />

<a href="{{url_for('data')}}"><span style="font-size:20px"><em><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Data Table</strong></span></em></span></a></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><strong><em>Project 3 - DAB111 - Group 10</em></strong></p>

